@import '../../config';

.hamburger-icon {

    .patty {
        height: 5px;
        width: 35px;
        margin: 6px;
        background-color: $dark-black;
        border-radius: 2px;
    }
    @media only screen and (min-width: 900px) {
        display: none;
    }
}