@import '../../_config.scss';

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;

    .result {
        width: 150px;
        border: 1px solid $dark-purple;
        background-color: $dark-purple;
        color: $light-purple;
        margin: 5px;
        border-radius: 5px;
        text-decoration: none;

        img{
            width: 150px;
            height: auto;
        }

        &:hover {
            color: $text-color;
        }
    }
   
}