@import '../../_config.scss';

.menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    background-color: $light-green;
    width: 100%;
    a {
        padding: .5em;
        text-decoration: none;
        color: $dark-green;
        font-size: 25px;
        width: 100%;
        &:hover {
            background-color: highlight($light-green);
        }
    }
}