
$nav-color: #335323;

$dark-purple: #27033a;
$light-purple: #93819d;
$dark-green: #102b02;
$light-green: #6d8462;
$dark-black: #0D0113;
$text-color: #C5cec0;


$background-color: $dark-black;



@function highlight($color) {
  @return lighten( $color, 15% );
}