
$nav-color: red;

$dark-purple: #1B1129;
$light-purple: #674E7C;
$dark-green: #9E9A61;
$light-green: #E9EDC9;
$text-color: #E9EDC9;

@function highlight($color) {
  // Used for the cube's top.
  @return lighten( $color, 15% );
}