@import '../../_config.scss';

.details {

    display: flex;
    height: 90vh;
    color: $text-color;



    @media only screen and (orientation: landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        img {
            // max-width: 400px;
            // flex: 0 1 auto;
            // width: auto;
            max-width: 90%;
            height: auto;
            margin: auto;
        }
        .info {
            // flex: 1 1 300px;
            max-width: 400px;
            margin: auto;

        }
    }

}