@import '../../_config.scss';

.details {

    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    color: $text-color;


    .info {
        padding: 10px;
        max-width: 400px;
        margin: auto;
    }
    img {
        // max-width: 100%;
        max-height: 90%;
        width: auto;
        margin: auto;
    }

    @media only screen and (min-width: 430px) and (orientation: landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        img {
            // max-width: 400px;
            // flex: 0 1 auto;
            // width: auto;
            max-width: 90%;
            height: auto;
            margin: auto;
        }
        .info {
            // flex: 1 1 300px;
            max-width: 400px;
            margin: auto;

        }
    }

}