@import '../../config';

main {
    margin-top: 50px;
    margin-bottom: 40px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    color: $text-color;
}